<% provide(:title, "Edit source") %>
<h1>Update Source</h1>

<div class="row">
  <div class="span6 offset3">

<%= simple_form_for(@source, html: {class: 'form-vertical'}) do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: "btn btn-large btn-primary" %>
  <%= link_to "Cancel", :back, class: "btn btn-large btn-primary" %>
<% end %>

  </div>
</div>
