@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee
$red-lighter:            lighten(#f00, 50%) !default; // #800
$green-lighter:          lighten(#0f0, 50%) !default; // #080
$blue-lighter:           lighten(#0f0, 50%) !default; // #080

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #eee;
}

h3 {
    border-top: solid 1px #999;
    font-size: 1.2em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */
/*
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
*/
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.input_fields {
  /*width: 25%;*/
}

/* budget summary table */

.summary_row {
  background-color: black;
  color: white;

  td {
    text-align: right;
  }
}

.header_row {
  background-color: black;
  color: white;

  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  th {
    text-align: center;
  }
}

.category_row {
  background-color: $gray-lighter;
}

.item_row {
  td {
    text-align: right;
    padding: 0px 8px; 
  }
}

.invalid_item_row {
  td {
    text-align: right;
    padding: 0px 8px; 
    background-color: #f22;
  }
}

.duplicate_item_row {
  td {
    text-align: right;
    padding: 0px 8px; 
    background-color: #fa0;
  }
}

.invalid_cell {
  background-color: #f22;
}

.valid_cell {
  background-color: #2f2;
}

.separator {
  border-top: 1px solid $grayMediumLight;
  padding-top: 20px;
}

table {
  a {
    color: inherit
  }
}

.table-nonfluid {
   width: auto !important;
}

.category_fields { 
  padding: 2px; 
  border: 1px dashed #ddd; 
}

.item_fields {
  padding: 2px; 
  border: 1px dashed #ddd;
  margin-left: 140px
}

.help-inline,.help-block{font-size:11px;line-height:18px;color:#bfbfbf;}
.help-inline{padding-left:5px;*position:relative;*top:-5px;}
.help-block{display:block;max-width:600px;}

.transaction-modal-body {
  max-height: 600px;
}