<h3><%= link_to @portfolio.name, @portfolio %></h3>

<%= simple_form_for(@transaction, html: {class: 'input_fields'}) do |f| %>
  <%= render 'fields', f: f %>
  <%= f.submit "Add Transaction", class: "btn btn-large btn-primary" %>
<% end %>